{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Account Inactive" %}
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Account Inactive" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <p>{% trans "This account is inactive." %}</p>
    </div>
{% endblock %}
