{% extends "account/base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}
    {% trans "Confirm E-mail Address" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "E-mail Addresses" %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Confirm E-mail Address" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% user_display email_address.user as user_display %}
        <p>{% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
    </div>
{% endblock %}
