{% extends "account/base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans "Account" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "E-mail Addresses" %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "E-mail Addresses" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% if user.emailaddress_set.all %}
        <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>
        <form action="{% url 'account_email' %}" class="email_list" method="post">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <th>{% trans "Selection" %}</th>
                    <th>{% trans "E-mail" %}</th>
                    <th>{% trans "Verified" %}</th>
                    <th>{% trans "Primary" %}</th>
                </tr>
                {% for emailaddress in user.emailaddress_set.all %}
                <tr>
                    <td>
                        <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
                    </td>
                    <td>
                        {{emailaddress.email}}
                    </td>
                    <td>
                        {% if emailaddress.verified %}
                        <span class="fa fa-check"></span>
                        {% else %}
                        <span class="fa fa-ban"></span> 
                        {% endif %}
                    </td>
                    <td>
                        {% if emailaddress.primary %}
                        <span class="fa fa-check"></span> 
                        {% else %}
                        <span class="fa fa-ban"></span> 
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <button class="btn btn-primary btn-sm" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
            <button class="btn btn-primary btn-sm" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
            <button class="btn btn-primary btn-sm" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
        </form>
        {% else %}
            <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
        {% endif %}

        <h2>{% trans "Add E-mail Address" %}</h2>
        <form method="POST" action="{% url 'account_email' %}" class="add_email">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <button class="btn btn-primary btn-sm" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function() {
            var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click",
                                            function(e) {
                                                if (! confirm(message)) {
                                                    e.preventDefault();
                                                    }
                                            });
            }
        })();
    </script>
{% endblock %}
