{% extends "account/base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Sign Out" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        <form class="form-signin" method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
            {% endif %}
            <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
        </form>
    </div>
{% endblock %}
