{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "Password" %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Password Reset" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
