{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "Password" %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Password Reset" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        {% load crispy_forms_tags %}
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="{% trans "Reset My Password" %}" />
        </form>
        <br/>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}

{% block js %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
