{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "Password" %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Change Password" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
{% endblock %}
