{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "Password" %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>
            {% if token_fail %}
                {% trans "Bad Token" %}
            {% else %}
                {% trans "Change Password" %}</h1>
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                {% load crispy_forms_tags %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" name="action" value="{% trans "change password" %}"/>
                </form>
            {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
