{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "Password" %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Set Password" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% load crispy_forms_tags %}
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" name="action" value="{% trans "Set Password" %}"/>
        </form>
    </div>
{% endblock %}
