{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "Password" %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Change Password" %}</h1>
    </div>
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class='container'>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
{% endblock %}
