{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "Sign Up Closed" %}
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Sign Up Closed" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div>
{% endblock %}
