{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Sign Up" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
{% endblock %}
