{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Verify Your E-mail Address" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "E-mail" %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Verify Your E-mail Address" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
