{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "Verify Your E-mail Address" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "E-mail" %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans "Verify Your E-mail Address" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% url 'account_email' as email_url %}

        <p>{% blocktrans %}This part of the site requires us to verify that
        you are who you claim to be. For this purpose, we require that you
        verify ownership of your e-mail address. {% endblocktrans %}</p>

        <p>{% blocktrans %}We have sent an e-mail to you for
        verification. Please click on the link inside this e-mail. Please
        contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

        <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{email_url}}">change your e-mail address</a>.{% endblocktrans %}</p>
    </div>
{% endblock %}

