{% load i18n %}
{% load url from future %}

<nav>
    <div class="well well-sm">
        {% trans 'Browse by letter' %} : 
    </div>
    <ul class="pagination">
        {% for letter in alphabet %}
            {% if letter == current_search %}
                <li class="active"><span>{{ letter }}<span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="{% url 'directory:user-list' letter=letter %}">{{ letter }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
