{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'TySCCA Directory' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active"><a href="{% url 'directory:index' %}">{% trans "Directory" %}</a></li>
    <li class="active">{{ current_search }}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Directory' %}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% include 'directory/pagination.html' %}
        <div class="list-group">
            {% for object in object_list %}
                <a href="{% url 'directory:user-detail' pk=object.pk %}" class="list-group-item">{{ object.first_name|title }} {{ object.last_name|title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
