{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'TySCCA Directory' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active"><a href="{% url 'directory:index' %}">{% trans "Directory" %}</a></li>
    <li class="active">{{ object.first_name|title }} {{ object.last_name|title }}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{{ object.first_name|title }} {{ object.last_name|title }}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% if object.profile.lab_name %}
            <p>
                <strong>{% trans 'Lab' %} : </strong>
                {% if object.profile.lab_name_url %}
                    <a href={{ object.profile.lab_name_url }} target="_blank">{{ object.profile.lab_name|title }}</a>
                {% else %}
                    {{ object.profile.lab_name|title }} 
                {% endif %}
            </p>
        {% endif %}
        <p>
            <strong>{% trans 'Locality' %} : </strong>
            {{ object.profile.city|title }}, {{ object.profile.country.name }}
        </p>
        <p>
            <strong>{% trans 'Topics of interest' %} : </strong>
            {% for topic in object.profile.topics_of_interest.all %}
                {{ topic }}
                {% if not forloop.last %}
                    ,
                {% endif %}
            {% endfor %}
        </p>
        <p>
            <strong>{% trans 'Quizzes submitted' %} : </strong>
        </p>
        <div class="list-group">
            {% for quiz in object.quiz_authored.published %}
                {% include "quiz/quiz_list_item.html" %}
            {% empty %}
                <li class="list-group-item disabled">{% trans 'No quizzes submitted yet.' %}</li>
            {% endfor %}
        </div>
        <p>
            <strong>{% trans 'Quizzes reviewed' %} : </strong>
        </p>
        <div class="list-group">
            {% for quiz in object.quiz_reviewed.published %}
                {% include "quiz/quiz_list_item.html" %}
            {% empty %}
                <li class="list-group-item disabled">{% trans 'No quizzes reviewed yet.' %}</li>
            {% endfor %}
        </div>
        <p>
            <strong>{% trans 'Courses' %} : </strong>
        </p>
        <div class="list-group">
            {% for lecture in object.lecture_set.all %}
                <a href="{% url 'lectures:lecture-detail' lecture.pk %}" class="list-group-item">{{ lecture }}</a>
            {% empty %}
                <li class="list-group-item disabled">{% trans 'No courses yet.' %}</li>
            {% endfor %}
        </div>
        <p>
            <strong>{% trans 'Tutorings requested' %} : </strong>
        </p>
        <div class="list-group">
            {% for tutorship in object.tutorship_set.all %}
                <a href="{% url 'tutorships:tutorship-detail' tutorship.pk %}" class="list-group-item">{{ tutorship }}</a>
            {% empty %}
                <li class="list-group-item disabled">{% trans 'No tutorship requested yet.' %}</li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
