{% load url from future %}
{% load i18n %}
{% load endless %}

{% paginate object_list %}

<div class="list-group">
    {% for field in object_list %}
        <a href="{% url 'cytometry:subfield-list' field.slug %}" class="list-group-item">{{ field.name|capfirst }}</a>
    {% empty %}
        <li class="list-group-item disabled">{% trans "There are no fields yet" %}</li>
    {% endfor %}
</div>

{% include 'paginator.html' %}
