{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Fields list' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Fields' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Fields list' %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <div class="endless_page_template">
            {% include 'cytometry/field_list_page.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}
