{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Subfields for' %} {{ field.name|capfirst }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'cytometry:field-list' %}">{% trans 'Fields' %}</a></li>
    <li class="active">{{ field.name|capfirst }}</li>
{% endblock %}
    
{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans 'Subfields for' %} {{ field.name|capfirst }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <div class="endless_page_template">
            {% include 'cytometry/subfield_list_page.html' %}
        </div>
        <a href="{% url 'cytometry:field-list' %}" class="btn btn-default" role="button">{% trans 'Back to fields list' %}</a>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}
