{% load url from future %}
{% load i18n %}
{% load endless %}

{% paginate object_list %}

<div class="list-group">
    {% for subfield in object_list %}
        <a href="{% url 'cytometry:topic-list' fieldslug=field.slug subfieldslug=subfield.slug %}" class="list-group-item">{{ subfield.name|capfirst }}</a>
    {% empty %}
        <li class="list-group-item disabled">{% trans "There are no subfields yet for" %} {{ field.name|capfirst }}</li>
    {% endfor %}
</div>

{% include 'paginator.html' %}
