{% load url from future %}
{% load i18n %}
{% load endless %}

{% paginate object_list %}

<div class="list-group">
    {% for topic in object_list %}
        <a href="{% url 'quiz:quiz-by-topic-list' fieldslug=field.slug subfieldslug=subfield.slug topicslug=topic.slug %}" class="list-group-item {% if topic.quiz_set.published.count == 0 %}disabled{% endif %}">
            {{ topic.name|capfirst }} ({{ topic.quiz_set.published.count }}  {% trans 'quizzes' %})
        </a>
    {% empty %}
        <li class="list-group-item disabled">{% trans "There are no topics yet for" %} {{ subfield.name|capfirst }}</li>
    {% endfor %}
</div>

{% include 'paginator.html' %}
