{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Add a step to the Tutoring' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'tutorships:tutorship-list' %}">{% trans "Tutorings" %}</a></li>
    <li><a href="{% url 'tutorships:tutorship-detail' pk=tutorship.pk %}">{% trans "Tutorings" %}</a></li>
    <li class="active">{% trans 'Add a step to the tutoring' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Add a step to the tutoring' %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% crispy form %}
    </div>
{% endblock %}
