{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load guardian_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Delete' %} {{ object }} ?
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'tutorships:tutorship-list' %}">{% trans "Tutorings" %}</a></li>
    <li><a href="{% url 'tutorships:tutorship-detail' pk=object.tutorship.pk %}">{{ object.tutorship }}</a></li>
    <li class="active">{% trans "Delete" %} {{ object }}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans "Delete step" %} {{ object }}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
        <div class='row'>
            <form action="" method="post">{% csrf_token %}
                <p>{% trans "Are you sure you want to delete the step" %} "{{ object }}" ?</p>
                <input class="btn btn-primary" type="submit" value="{% trans "Yes, I'm sure" %}" />
                <a href="{% url 'tutorships:tutorship-detail' pk=object.tutorship.pk %}" class="btn btn-default" role="button">{% trans 'No, take me back to the tutoring' %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
