{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load guardian_tags %}
{% load humanize %}
{% load url from future %}

{% block head_title %}
    {{ object }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'tutorships:tutorship-list' %}">{% trans "Tutorings" %}</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block page_title %}
    {% get_obj_perms request.user for object as 'object_perms' %}
    <div class="container page-header">
        <h1>
            {{ object }}
            {% if "change_tutorship" in object_perms %}
                <a href="{% url 'tutorships:tutorship-update' object.pk %}" class="btn btn-default" role="button"><span class="fa fa-edit"></span> {% trans 'Edit' %}</a>
            {% else %}
                <a href="{% url 'tutorships:tutorship-accept' object.pk %}" class="btn btn-success btn-lg" role="button"><span class="fa fa-check"></span> {% trans 'Supervise this tutoring' %}</a>
            {% endif %}
            {% if user == object.tutor %}
                <a href="{% url 'tutorships:tutorship-cancel' object.pk %}" class="btn btn-warning" role="button"><span class="fa fa-cross"></span> {% trans 'Cancel my supervision for this tutoring' %}</a>
            {% endif %}
            {% if "delete_tutorship" in object_perms %}
                <a href="{% url 'tutorships:tutorship-delete' object.pk %}" class="btn btn-danger" role="button"><span class="fa fa-close"></span> {% trans 'Delete' %}</a>
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for object as 'object_perms' %}
    <div class='container'>
        <p><strong>{% trans "Tutoree : " %}</strong>{{ tutorship.tutoree.first_name|title }} {{ tutorship.tutoree.last_name|title }}</p>
        {% if tutorship.tutor %}
            <p><strong>{% trans "Tutor : " %}</strong>{{ tutorship.tutor.first_name|title }} {{ tutorship.tutor.last_name|title }}</p>
        {% endif %}
        {{ object.description|safe }}
        <h3>
            {% trans 'Steps' %} : 
            {% if "change_tutorship" in object_perms %}
                <a href="{% url 'tutorships:step-create' tutorship=tutorship.pk %}" class="btn btn-default" role="button"><span class="fa fa-plus"></span> {% trans 'Add a step to the tutoring' %}</a>
            {% endif %}
        </h3>
        <ul class="list-group">
            {% for step in object.step_set.all %}
                <li class="list-group-item">
                    <h3 class="list-group-item-heading">
                        {{ step }}
                        {% if step.tutorship.start and today > step.get_deadline.date and user == step.tutorship.tutoree and step.evaluation == None %}
                            <a href="{% url 'tutorships:evaluation-create' tutorship=tutorship.pk step=step.pk %}" class="btn btn-success" role="button"><span class="fa fa-edit"></span> {% trans 'Evaluate this step' %}</a>
                        {% endif %}
                    </h3>
                    <p><strong>{% trans "Duration" %} : </strong> {{ step.duration }} {% trans "weeks" %}</p>
                    {% if step.tutorship.start %}
                        <p><strong>{% trans "Deadline for this step" %} : </strong> {{ step.get_deadline|naturalday }}</p>
                        {% if today < step.get_deadline.date %}
                            <p><strong>{% trans "Remaining time" %} : </strong> {{ step.get_deadline|naturaltime }}</p>
                        {% endif %}
                    {% endif %}
                    {{ step.description|safe }}
                    {% if perms.tutorships.change_tutorship and step.evaluation %}
                        <div class="panel panel-default">
                            <div class="panel-heading">{% trans "Evaluation" %}</div>
                            <div class="panel-body">
                                <p><strong>{% trans "Satisfaction of the tutoree : " %}</strong>{{ step.evaluation.satisfaction }} %</p>
                                <p><strong>{% trans "Comments :" %}</strong></p>
                                {{ step.evaluation.comment|linebreaks }}
                            </div>
                        </div>
                    {% endif %}
                    {% if "change_tutorship" in object_perms %}
                        <a href="{% url 'tutorships:step-update' tutorship=step.tutorship.pk pk=step.pk %}" class="btn btn-default btn-xs" role="button">
                            <span class="fa fa-edit"></span> {% trans 'Edit' %}
                        </a>
                        <a href="{% url 'tutorships:step-delete' tutorship=step.tutorship.pk pk=step.pk %}" class="btn btn-danger btn-xs" role="button">
                            <span class="fa fa-close"></span> {% trans 'Remove this step from tutoring' %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
