{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Supervise' %} {{ object }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'tutorships:tutorship-list' %}">{% trans "Tutoring" %}</a></li>
    <li><a href="{% url 'tutorships:tutorship-detail' pk=object.pk %}">{{ object }}</a></li>
    <li class="active">{% trans 'Supervise' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Supervise' %} {{ object }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <p>{% trans "By taking the supervision of this tutoring, your email address will be sent to your tutoree in order to discuss the progress of her/his work." %}</p>
        {% crispy form %}
    </div>
{% endblock %}
