{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Tutorings' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Tutorings' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans "Tutorings" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
    <h2>{% trans "Tutorings that need supervising" %}</h2>
        <div class="list-group">
            {% for tutorship in object_list %}
                {% include 'tutorships/tutorship_list_item.html' %}
            {% empty %}
                <li class="list-group-item disabled">{% trans "There are no tutorings in need of supervising yet" %}</li>
            {% endfor %}
        </div>
    </div>
    <div class='container'>
    <h2>{% trans "Your Tutorings" %}</h2>
        <div class="list-group">
            {% for tutorship in user.tutorship_set.all %}
                {% include 'tutorships/tutorship_list_item.html' %}
            {% empty %}
                <li class="list-group-item disabled">{% trans "You are not in a process of tutoring yet" %}</li>
            {% endfor %}
        </div>
        <a href="{% url 'tutorships:tutorship-create' %}" class="btn btn-primary" role="button"><span class="fa fa-plus"></span> {% trans 'Request a tutoring' %}</a>
    </div>
    <div class='container'>
    <h2>{% trans "Tutorings you are supervising" %}</h2>
        <div class="list-group">
            {% for tutorship in user.tutorships_followed_set.all %}
                {% include 'tutorships/tutorship_list_item.html' %}
            {% empty %}
                <li class="list-group-item disabled">{% trans "You are not supervising any tutoring yet" %}</li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
