{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Edit' %} {{ object }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'tutorships:tutorship-list' %}">{% trans "Tutoring" %}</a></li>
    <li><a href="{% url 'tutorships:tutorship-detail' pk=object.pk %}">{{ object }}</a></li>
    <li class="active">{% trans 'Edit' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Edit' %} {{ object }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% crispy form %}
    </div>
{% endblock %}
