{% load url from future %}

<a href="{% url 'tutorships:tutorship-detail' pk=tutorship.pk %}" class="list-group-item">
    <h5>
        {{ tutorship }}
        <span class="label label-primary pull-right">{{ tutorship.topic }}</span>
    </h5>
</a>
