{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Tutorings' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Tutorings' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans "Tutorings" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
    <div class="list-group">
        {% for tutorship in object_list %}
            <a href="{% url 'tutorships:tutorship-detail' pk=tutorship.pk %}" class="list-group-item">
                <h5>
                    {{ tutorship }}
                    <span class="label label-primary pull-right">{{ tutorship.topic }}</span>
                    {% if not tutorship.tutor %}
                        <span class="label label-warning pull-right">{% trans "No tutor yet" %}</span>
                    {% endif %}
                    {% if tutorship.has_late_evaluation %}
                        <span class="label label-warning pull-right">{% trans "Evaluation is late" %}</span>
                    {% endif %}
                </h5>
            </a>
        {% empty %}
            <li class="list-group-item disabled">{% trans "There are no tutorings in need of supervising yet" %}</li>
        {% endfor %}
    </div>
</div>
{% endblock %}
