body {
    padding-top: 45px;
    padding-bottom: 45px;
}

/* Top navbar */
.navbar-fixed-top {
    background-color: #366d94;
}

.escca-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* footer */
.openscop-brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/* big buttons for index:
 * this permits to wrap text if necessary */
.btn {
    white-space: normal;
}

body > div.container.homepage a.btn.btn-block {
    /*height: 200px;*/
    background-color: #366d94;
    color: white;
}

body > div.container.homepage a.btn.btn-block:hover {
    background-color: #e61578;
}

/* Homepage */
body > div.homepage {
    padding-top: 35px;
    padding-bottom: 35px;
}

body > div.sponsors {
    background-color: #333;
    color: white;
    padding-bottom: 25px;
}

body > div.page-header {
    margin-top: 0px;
}
