{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Contact Us' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans "Contact" %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Contact Us' %}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% crispy form %}
    </div>
{% endblock %}
