{% extends "base.html" %}

{% load i18n %}

{% url from future %}

{% block head_title %}
    {% trans 'send a mail to all users'|capfirst %}
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans 'send a mail to all users'|capfirst %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <a href='mailto:?bcc={{ mails }}' class="btn btn-primary" role="button">{% trans 'send a mail to all users'|capfirst %}</a>
    </div>
{% endblock %}
