{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Manage your topics of interest' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "Topics of interest" %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Manage your topics of interest' %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-horizontal" method="post">
            {% crispy form %}
            <div id="items-form-container">
                {% for formset in inlines %}
                    {{ formset.management_form|crispy }}
                    <script type="text/html" id="item-template">
                        <div id="item-__prefix__">
                            <div class="row">
                                {% crispy formset.empty_form formset.form.helper %}
                            </div>
                        </div>
                    </script>
                    {% for form in formset %}
                        <div id="item-{{ forloop.counter0 }}">
                            <div class="row">
                                {% crispy form form.helper %}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                    <button id="add-topic" type="button" class="btn btn-default"><span class="fa fa-plus"> {% trans 'Add another topic of interest' %}</span></button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('#add-topic').click(function(event) {
                event.preventDefault();
                var count = parseInt($('#id_profiletopicsofinterest_set-TOTAL_FORMS').val());
                var form_template = $('#item-template').html();
                var new_form = form_template.replace(/__prefix__/g, count);
                $('div#items-form-container').append(new_form);
                $('#id_profiletopicsofinterest_set-TOTAL_FORMS').attr('value', count+1);
            });
        });
    </script>
{% endblock %}
