{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Profile Update' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "Profile Edition" %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Profile Update' %}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% crispy form %}
    </div>
{% endblock %}
