{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Comment for quiz' %} {{object}}
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Send a comment for quiz' %} {{ object }}</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'quiz:quiz-review-list' %}">{% trans 'Help Reviewing Quizzes' %}</a></li>
    <li><a href="{% url 'quiz:quiz-detail' object.pk %}">{{ object }}</a></li>
    <li class="active">{% trans 'Comment' %}</li>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% crispy form %}
    </div>
{% endblock %}
