{% load url from future %}
{% load i18n %}
{% load endless %}

{% paginate object_list %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{% trans "Quizzes that need review" %}</h4>
    </div>
    <div class="panel-body">
        {% trans "This section contains all quizzes which are waiting for a reviewer and that belong to the topics you're interested in" %}<br>
        <br>
        <div class="well well-sm">
            {% if request.user.profile.topics_of_interest.all.exists %}
                <p>
                    {% trans "Want to help reviewing quizzes ? Manage your topics of interest " %}
                    <a href="{% url 'topics_edit' %}">{% trans "here" %}</a>
                    {% trans " and tick the " %}<em>"{% trans "I would like to be part of reviewers team for this topic" %}</em>" {% trans 'checkbox' %}
                </p>
            {% else %}
                <p>
                    {% trans "You haven't chosen any topics of interest yet" %}<br>
                    {% trans "In order to review quizzes, first add some topics of interest in your profile " %}<a href="{% url 'topics_edit' %}">{% trans "here" %}</a>
                    {% trans " and tick the " %}<em>"{% trans "I would like to be part of reviewers team for this topic" %}</em>" {% trans 'checkbox' %}
                </p>
            {% endif %}
        </div>
    </div>
    <div class="list-group">
        {% for quiz in object_list %}
            {% include "quiz/quiz_list_item.html" %}
        {% empty %}
            <li class="list-group-item disabled">{% trans 'No quizzes pending reviewers.' %}</li>
        {% endfor %}
    </div>
</div>

{% include 'paginator.html' %}
