{% load i18n %}

{% if get_home_message %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Get Home Message' %}</h3>
        </div>
        <div class="panel-body">
            {{ get_home_message|safe }}
        </div>
    </div>
{% endif %}
