{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {{ quiz.title|capfirst }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'quiz:quiz-list' %}">{% trans 'Dashboard' %}</a></li>
    <li><a href="{% url 'quiz:quiz-detail' quiz.pk %}">{{ quiz }}</a></li>
    <li class="active">{% trans 'Take' %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{{ quiz.title|capfirst }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <div class="panel panel-default">
            <div class="panel-heading"><h2>{% trans 'Introduction' %}</h2></div>
            <div class="panel-body">
                {% include "quiz/quiz_description.html" with quiz=quiz only %}
            </div>
            <form class="form-horizontal" method="post">
                <ul class='list-group'>
                    {{ formset.management_form|crispy }}
                    {% for form in formset %}
                        <li class='list-group-item'>
                            <p>{{ form.initial.question }}</p>
                            <p><strong>{% trans "Ponderation" %} : </strong>{{ form.initial.ponderation }}</p>
                            {% crispy form form.helper %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                        <a href="#" class="btn btn-info" role="button">{% trans 'Ask to an expert' %}</a>
                        <a href="#" class="btn btn-info" role="button">{% trans "I'm looking for a tutor" %}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
