{% load i18n %}

<a href="{% url 'quiz:quiz-detail' quiz.pk %}" class="list-group-item">
    {{ quiz.title|capfirst }}
    {% if quiz.state == 'draft' %}
        <span class="label label-default">{% trans "draft" %}</span>
    {% elif quiz.state == 'pending_reviewer' %}
        <span class="label label-warning">{% trans "needs reviewer" %}</span>
    {% elif quiz.state == 'pending_review' %}
        <span class="label label-warning">{% trans "needs review" %}</span>
    {% elif quiz.state == 'reviewed' %}
        <span class="label label-warning">{% trans "reviewed" %}</span>
    {% elif quiz.state == 'archived' %}
        <span class="label label-danger">{% trans "archived" %}</span>
    {% elif quiz.state == 'published' %}
        {% if quiz.is_new %}
            <span class="label label-primary">{% trans "new !" %}</span>
        {% endif %}
    {% endif %}
    <span class="label label-default pull-right">{{ quiz.topic }}</span>
</a>
