{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block content %}
    <div class='container'>
        <form class="form-horizontal" method="post">
            {% crispy form %}
            <div id="items-form-container">
                {% for formset in inlines %}
                    {{ formset.management_form|crispy }}
                    <script type="text/html" id="item-template">
                        <hr />
                        <div id="item-__prefix__">
                            {% crispy formset.empty_form formset.form.helper %}
                        </div>
                    </script>
                    {% for form in formset %}
                        <hr />
                        <div id="item-{{ forloop.counter0 }}">
                            {% crispy form form.helper %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                    <button id="add-question" type="button" class="btn btn-default"><span class="fa fa-plus"> {% trans 'Add another question' %}</span></button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('#add-question').click(function(event) {
                event.preventDefault();
                var count = parseInt($('#id_question_set-TOTAL_FORMS').val());
                var form_template = $('#item-template').html();
                var new_form = form_template.replace(/__prefix__/g, count);
                $('div#items-form-container').append(new_form);
                $('#id_question_set-TOTAL_FORMS').attr('value', count+1);
            });
        });
    </script>
{% endblock %}
