{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Quizzes for' %} {{ topic.name|capfirst }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'cytometry:field-list' %}">{% trans 'Fields' %}</a></li>
    <li><a href="{% url 'cytometry:subfield-list' slug=field.slug %}">{{ field.name|capfirst }}</a></li>
    <li><a href="{% url 'cytometry:topic-list' fieldslug=field.slug subfieldslug=subfield.slug %}">{{ subfield.name|capfirst }}</a></li>
    <li class="active">{{ topic.name|capfirst }}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Quizzes for' %} {{ topic.name|capfirst }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="endless_page_template">
            {% include 'quiz/quiz_by_topic_list_page.html' %}
        </div>
        <a href="{% url 'cytometry:topic-list' fieldslug=field.slug subfieldslug=subfield.slug %}" class="btn btn-default" role="button">{% trans 'Back to topics for' %} {{ subfield.name|capfirst }}</a>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}
