{% load url from future %}
{% load i18n %}
{% load endless %}

{% paginate object_list %}

<div class="panel panel-default">
    <div class="panel-heading"><h4>{% trans "My Quizzes" %}</h4></div>
    <div class="panel-body">{% trans "This section contains all quizzes you've written" %}</div>
    <div class="list-group">
        {% for quiz in object_list %}
            {% include "quiz/quiz_list_item.html" %}
        {% empty %}
            <li class="list-group-item disabled">{% trans "You haven't wrote any quiz yet." %}</li>
        {% endfor %}
    </div>
</div>

{% include 'paginator.html' %}
