{% load i18n %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Explanation' %}</h3>
    </div>
    <div class="panel-body">
        {{ explanation|safe }}
    </div>
</div>
