{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load guardian_tags %}
{% load url from future %}

{% block head_title %}
    {{ object.title|capfirst }}
{% endblock %}

{% block breadcrumbs %}
    {% get_obj_perms request.user for object as 'object_perms' %}
    {% if 'change_quiz' in object_perms %}
        <li><a href="{% url 'quiz:quiz-user-list' %}">{% trans 'Quiz Submission' %}</a></li>
    {% elif 'review_quiz' in object_perms or quiz.state == 'pending_reviewer' and possible_reviewer %}
        <li><a href="{% url 'quiz:quiz-review-list' %}">{% trans 'Help Reviewing Quizzes' %}</a></li>
    {% else %}
        {% if object.topic in request.user.profile.topics_of_interest.all %}
            <li><a href="{% url 'quiz:quiz-list' %}">{% trans 'Dashboard' %}</a></li>
        {% else %}
            <li><a href="{% url 'cytometry:field-list' %}">{% trans 'Fields' %}</a></li>
            <li><a href="{% url 'cytometry:subfield-list' slug=object.topic.subfield.field.slug %}">{{ object.topic.subfield.field|capfirst }}</a></li>
            <li><a href="{% url 'cytometry:topic-list' fieldslug=object.topic.subfield.field.slug subfieldslug=object.topic.subfield.slug %}">{{ object.topic.subfield|capfirst }}</a></li>
            <li><a href="{% url 'quiz:quiz-by-topic-list' fieldslug=object.topic.subfield.field.slug subfieldslug=object.topic.subfield.slug topicslug=object.topic.slug %}">{{ object.topic|capfirst }}</a></li>
        {% endif %}
    {% endif %}
    <li class="active">{{ object }}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{{ object|capfirst }} <small><span class="label label-default">{{ object.topic }}</span></small></h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% get_obj_perms request.user for object as 'object_perms' %}
        <div class="row">
            <div class="col-sm-8">
                {{ object.description|safe }}
                {% if 'change_quiz' in object_perms or 'review_quiz' in object_perms %}
                    <h2>{% trans 'Questions :' %}</h2>
                    <ul class="list-group">
                        {% for question in object.question_set.all %}
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">{{ question }}</h4>
                                <br>
                                <p class="list-group-item-text">
                                    <strong>{% trans "Answer" %} : </strong>
                                    {% if question.correct %}
                                        <span class="label label-success">{{ question.correct }}</span>
                                    {% else %}
                                        <span class="label label-danger">{{ question.correct }}</span>
                                    {% endif %}
                                </p>
                                <br>
                                <p class="list-group-item-text"><strong>{% trans "Explanation" %} : </strong>{{ question.explanation }}</p>
                                <p class="list-group-item-text"><strong>{% trans "Ponderation" %} : </strong>{{ question.ponderation }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                    {% include 'quiz/quiz_explanation.html' with explanation=object.explanation %}
                    {% include 'quiz/quiz_get_home_message.html' with get_home_message=object.get_home_message %}
                {% endif %}
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                            {% if 'change_quiz' in object_perms %}
                                <p>
                                    <a href="{% url 'quiz:quiz-update' object.pk %}" class="btn btn-info" role="button"><span class="fa fa-edit"></span> {% trans 'Edit' %}</a>
                                    {% if quiz.state == 'draft' %}
                                        <a href="{% url 'quiz:quiz-ask-review' object.pk %}" class="btn btn-warning" role="button"><span class="fa fa-users"></span> {% trans 'Ask for Reviewers' %}</a>
                                    {% elif quiz.state == 'reviewed' or quiz.state == 'archived' %}
                                        <a href="{% url 'quiz:quiz-publish' object.pk %}" class="btn btn-success" role="button"><span class="fa fa-newspaper-o"></span> {% trans 'Publish' %}</a>
                                    {% elif quiz.state == 'published' %}
                                        <a href="{% url 'quiz:quiz-archive' object.pk %}" class="btn btn-danger" role="button"><span class="fa fa-archive"></span> {% trans 'Archive' %}</a>
                                    {% endif %}
                                </p>
                            {% endif %}
                            {% if quiz.state == 'pending_reviewer' and possible_reviewer %}
                                <p>
                                    <form action="{% url 'quiz:quiz-add-reviewer' object.pk %}" method="post">
                                        {% csrf_token %}
                                        <input class="btn btn-warning" type="submit" value="{% trans 'I want to review this Quiz' %}">
                                    </form>
                                </p>
                            {% endif %}
                            {% if quiz.state == 'pending_review' and 'review_quiz' in object_perms %}
                                <p>
                                    <form action="{% url 'quiz:quiz-pop-reviewer' object.pk %}" method="post">
                                        {% csrf_token %}
                                        <input class="btn btn-warning btn-xs" type="submit" value="{% trans "I don't want to review this Quiz anymore" %}">
                                    </form>
                                </p>
                                <p>
                                    <a href="{% url 'quiz:quiz-comment' object.pk %}" class="btn btn-primary" role="button"><span class="fa fa-comments-o"></span> {% trans 'Comment' %}</a>
                                </p>
                                <p>
                                    <a href="{% url 'quiz:quiz-review' object.pk %}" class="btn btn-success" role="button"><span class="fa fa-check"></span> {% trans 'Review' %}</a>
                                </p>
                            {% endif %}
                            {% if object.state == 'published' and object.has_questions %}
                                <p>
                                    <a href="{% url 'quiz:quiz-take' object.pk %}" class="btn btn-primary" role="button"><span class="fa fa-play"></span> {% trans 'Take' %}</a>
                                </p>
                            {% endif %}
                        {% include 'quiz/quiz_authors.html' with authors=object.authors.all only %}
                        <p><strong>{% trans 'Created' %} : </strong>{{ object.created|date:"DATETIME_FORMAT" }}</p>
                        <p><strong>{% trans 'Last Modified' %} : </strong>{{ object.modified|date:"DATETIME_FORMAT" }}</p>
                        {% if object.pub_date %}
                            <p><strong>{% trans 'Published' %} : </strong>{{ object.pub_date|date:"DATETIME_FORMAT" }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
