{% load i18n %}

<p>
    <strong>{% trans 'Authors' %} : </strong><br>
    {% for author in authors %}
        <div class="well well-sm">
            {{ author.first_name|title }} {{ author.last_name|title }} - 
            {% if author.profile.lab_name %}
                {% if author.profile.lab_name_url %}
                    <a href={{ author.profile.lab_name_url }}>{{ author.profile.lab_name|title }}</a>,
                {% else %}
                    {{ author.profile.lab_name|title }}, 
                {% endif %}
            {% endif %}
            {{ author.profile.city|title }}, {{ author.profile.country.name }}
        </div>
    {% endfor %}
</p>
