{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Help Reviewing Quizzes' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Help Reviewing Quizzes' %}</li>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{% trans "Quizzes I'm reviewing" %}</h4></div>
            <div class="list-group">
                {% for quiz in pending_review_quizzes %}
                    {% include "quiz/quiz_list_item.html" with quiz=quiz only %}
                {% empty %}
                    <li class="list-group-item disabled">{% trans "You don't have any quiz to review" %}</li>
                {% endfor %}
            </div>
        </div>
        <div class="endless_page_template">
            {% include 'quiz/quiz_review_list_page.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}
