{% extends "quiz/quiz_form.html" %}

{% load i18n %}

{% block head_title %}
    {% trans 'Update Quiz' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'quiz:quiz-user-list' %}">{% trans 'Quiz Submission' %}</a></li>
    <li><a href="{% url 'quiz:quiz-detail' object.pk %}">{{ object }}</a></li>
    <li class="active">{% trans 'Edit' %}</li>
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{% trans 'Update Quiz' %}</h1>
    </div>
{% endblock %}
