{% load url from future %}
{% load i18n %}
{% load endless %}

{% paginate object_list %}

<div class="list-group">
    {% for quiz in object_list %}
        {% include "quiz/quiz_list_item.html" with quiz=quiz only %}
    {% empty %}
        <li class="list-group-item disabled">{% trans "There are no quizzes yet for" %} {{ topic.name|capfirst }}</li>
    {% endfor %}
</div>

{% include 'paginator.html' %}
