{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Dashboard' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Dashboard' %}</li>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
        <div class="endless_page_template">
            {% include 'quiz/quiz_list_page.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}
