{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Quizzes list' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Quiz Submission' %}</li>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
        <p>
            <a href="{% url 'quiz:quiz-create' %}" class="btn btn-primary" role="button">
                <span class="fa fa-plus"></span> {% trans 'Add a new quiz' %}
            </a>
        </p>
        <div class="endless_page_template">
            {% include 'quiz/quiz_user_list_page.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}
