{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Results' %} : {{ object.quiz.title|capfirst }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li><a href="{% url 'topic_results' object.quiz.topic.pk %}">{% trans "Results for topic" %} "{{ object.quiz.topic }}"</a></li>
    <li class="active">{{ object.quiz }} - {% trans "results" %}</li>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>{% trans 'Results' %} : {{ object.quiz.title|capfirst }} <small><span class="label label-default">{{ object.quiz.topic }}</span></small></h1>
            </div>
            <div class="panel-body">
                {% include 'quiz/quiz_description.html' with quiz=object.quiz only %}
            </div>
            <ul class="list-group">
                {% for answer in object.answer_set.all %}
                    {% if answer.is_correct %}
                        <li class="list-group-item list-group-item-success">
                            <h4 class="list-group-item-heading">{{ answer.question }}</h4><h4><span class="label label-success">+{{ answer.score }}</span></h4>
                            <strong>{% trans 'Your answer' %} </strong>{{ answer.answer }} {% trans 'is' %} <b>{% trans "right" %}</b>
                            <br>
                            <strong>{% trans 'Explanation' %} : </strong>{{ answer.question.explanation }}</p>
                        </li>
                    {% elif answer.is_wrong %}
                        <li class="list-group-item list-group-item-danger">
                            <h4 class="list-group-item-heading">{{ answer.question }}</h4><h4><span class="label label-danger">{{ answer.score }}</span></h4>
                            <strong>{% trans 'Your answer' %} </strong>{{ answer.answer }} {% trans 'is' %} <b>{% trans "wrong" %}</b>
                            <br>
                            <strong>{% trans 'Explanation' %} : </strong>{{ answer.question.explanation }}
                        </li>
                    {% else %}
                        <li class="list-group-item list-group-item-warning">
                            <h4 class="list-group-item-heading">{{ answer.question }}</h4><h4><span class="label label-warning">{{ answer.score }}</span></h4>
                            <strong>{% trans 'Answer not found' %} </strong>
                            <br>
                            <strong>{% trans 'Explanation' %} : </strong>{{ answer.question.explanation }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% include 'quiz/quiz_explanation.html' with explanation=object.quiz.explanation %}
        {% include 'quiz/quiz_get_home_message.html' with get_home_message=object.quiz.get_home_message %}
    </div>
{% endblock %}
