{% load url from future %}
{% load i18n %}
{% load endless %}

{% paginate object_list %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{% trans "Interesting Quizzes" %}</h4>
    </div>
    <div class="panel-body">
        {% trans "This section contains all quizzes that belong to the topics you're interested in" %}<br>
        <br>
        <div class="well well-sm">
            {% if request.user.profile.topics_of_interest.all.exists %}
                {% trans "Interested in more topics ? Manage your topics of interest " %}<a href="{% url 'topics_edit' %}">{% trans "here" %}</a>
            {% else %}
                {% trans "You haven't chosen any topics of interest yet" %}<br>
                {% trans "In order to get some interesting quizzes for you, first add some topics of interest in your profile " %}<a href="{% url 'topics_edit' %}">{% trans "here" %}</a>
            {% endif %}
        </div>
    </div>
    <div class="list-group">
        {% for quiz in object_list %}
            {% include "quiz/quiz_list_item.html" %}
        {% empty %}
            <li class="list-group-item disabled">{% trans 'No quizzes yet.' %}</li>
        {% endfor %}
    </div>
</div>

{% include 'paginator.html' %}
