{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load guardian_tags %}
{% load url from future %}

{% block head_title %}
    {% trans "Statistics for " %}{{ object }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'quiz:quiz-stats' %}">{% trans "Statistics" %}</a></li>
    <li><a href="{% url 'quiz:quiz-stats-by-subfield' pk=object.subfield.field.pk %}">{{ object.subfield.field }}</a></li>
    <li><a href="{% url 'quiz:quiz-stats-by-topic' pk=object.subfield.pk %}">{{ object.subfield }}</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>
            {% trans "Statistics for topic " %}{{ object }}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <p>
            {% trans "Number of experts for this topic : " %}{{ object.profiletopicsofinterest_set.experts.count }}
            {% if request.user.is_superuser %}
                {% for expert_profile in object.profiletopicsofinterest_set.experts %}
                    {% if forloop.first %}
                        (
                    {% endif %}
                    <a href="{% url 'admin:auth_user_change' expert_profile.profile.user.pk %}">
                        {{ expert_profile.profile.user.first_name.title }} {{ expert_profile.profile.user.last_name.title }}
                    </a>
                    {% if forloop.last %}
                        )
                    {% else %}
                        ,
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        <p>
            {% trans "Color code" %}
            <span class="label label-success">{% trans "Right answers" %}</span>
            <span class="label label-warning">{% trans "No answer" %}</span>
            <span class="label label-danger">{% trans "Wrong answers" %}</span>
        </p>
        <div class="list-group">
            {% for quiz, sittings, best_sittings in sittings_by_quiz %}
                {% if sittings.count > 0 %}
                    <a href="{% if request.user.is_superuser %}{% url 'quiz:quiz-stats-by-question' pk=quiz.pk %}{% endif %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ quiz }}</h4>
                        <div class="row">
                            <div class="col-sm-3">
                                {% trans "Number of quizzes passed : " %}{{ sittings.count }}<br />
                            </div>
                            <div class="col-sm-6">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: {{ sittings.overall_right_percentage }}%">
                                        <span class="sr-only">{{ sittings.overall_right_percentage }}% (right)</span>
                                        {{ sittings.overall_right_percentage }}%
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: {{ sittings.overall_unknown_percentage }}%">
                                        <span class="sr-only">{{ sittings.overall_unknown_percentage }}% (unknwon)</span>
                                        {{ sittings.overall_unknown_percentage }}%
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: {{ sittings.overall_wrong_percentage }}%">
                                        <span class="sr-only">{{ sittings.overall_wrong_percentage }}% (wrong)</span>
                                        {{ sittings.overall_wrong_percentage }}%
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                {% if request.user.is_superuser %}
                                    <p>{% trans "Best students : " %}</p>
                                    <ul>
                                        {% for score, best_sitting in best_sittings %}
                                            <li>
                                                <div>
                                                    {{ best_sitting.user.first_name.title }} {{ best_sitting.user.last_name.title }}
                                                    ({{ score }})
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
