{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load guardian_tags %}
{% load url from future %}

{% block head_title %}
    {% trans "Statistics for " %}{{ object }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'quiz:quiz-stats' %}">{% trans "Statistics" %}</a></li>
    <li><a href="{% url 'quiz:quiz-stats-by-subfield' pk=object.field.pk %}">{{ object.field }}</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>
            {% trans "Statistics for " %}{{ object }}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <p>
            {% trans "Color code" %}
            <span class="label label-success">{% trans "Right answers" %}</span>
            <span class="label label-warning">{% trans "No answer" %}</span>
            <span class="label label-danger">{% trans "Wrong answers" %}</span>
        </p>
        <div class="list-group">
            {% for topic, sittings in sittings_by_topic %}
                {% if sittings.count > 0 %}
                    <a href="{% url 'quiz:quiz-stats-by-quiz' pk=topic.pk %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ topic }}</h4>
                        <div class="row">
                            <div class="col-sm-3">
                                {% trans "Number of quizzes passed : " %}{{ sittings.count }}<br />
                            </div>
                            <div class="col-sm-6">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: {{ sittings.overall_right_percentage }}%">
                                        <span class="sr-only">{{ sittings.overall_right_percentage }}% (right)</span>
                                        {{ sittings.overall_right_percentage }}%
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: {{ sittings.overall_unknown_percentage }}%">
                                        <span class="sr-only">{{ sittings.overall_unknown_percentage }}% (unknwon)</span>
                                        {{ sittings.overall_unknown_percentage }}%
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: {{ sittings.overall_wrong_percentage }}%">
                                        <span class="sr-only">{{ sittings.overall_wrong_percentage }}% (wrong)</span>
                                        {{ sittings.overall_wrong_percentage }}%
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>

                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
