{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load guardian_tags %}
{% load url from future %}

{% block head_title %}
    {% trans "Statistics for " %}{{ object }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'quiz:quiz-stats' %}">{% trans "Statistics" %}</a></li>
    <li><a href="{% url 'quiz:quiz-stats-by-subfield' pk=object.topic.subfield.field.pk %}">{{ object.topic.subfield.field }}</a></li>
    <li><a href="{% url 'quiz:quiz-stats-by-topic' pk=object.topic.subfield.pk %}">{{ object.topic.subfield }}</a></li>
    <li><a href="{% url 'quiz:quiz-stats-by-quiz' pk=object.topic.pk %}">{{ object.topic }}</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>
            {% trans "Statistics for quiz " %}{{ object }}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <p>
            {% trans "Color code" %}
            <span class="label label-success">{% trans "Right answers" %}</span>
            <span class="label label-warning">{% trans "No answer" %}</span>
            <span class="label label-danger">{% trans "Wrong answers" %}</span>
        </p>
        <div class="list-group">
            {% for question, answer_set, rights_percentage, wrongs_percentage, unknown_percentage in answers %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{ question }}</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            {% trans "Number of responses : " %}{{ answer_set.count }}<br />
                        </div>
                        <div class="col-sm-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: {{ rights_percentage }}%">
                                    <span class="sr-only">{{ rights_percentage }}% (right)</span>
                                    {{ rights_percentage }}%
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: {{ unknown_percentage }}%">
                                    <span class="sr-only">{{ unknown_percentage }}% (unknwon)</span>
                                    {{ unknown_percentage }}%
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: {{ wrongs_percentage }}%">
                                    <span class="sr-only">{{ wrongs_percentage }}% (wrong)</span>
                                    {{ wrongs_percentage }}%
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
