{% extends "account/base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans "Profile" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
    <li class="active">{% trans "Results for topic" %} "{{ object_list.first.quiz.topic }}"</li>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{% trans "Results for topic" %} "{{ object_list.first.quiz.topic }}"</h2>
            </div>
            <ul class="list-group">
                {% for sitting in object_list %}
                    <a href="{% url 'quiz:quiz-result' sitting.quiz.pk %}" class="list-group-item">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4><span class="label label-primary">{{ sitting.score }}</span> {{ sitting.quiz }}</h4>
                            </div>
                            <div class="col-sm-4">
                                {{ sitting.right_answers }} {% trans 'right' %}<br>
                                {{ sitting.wrong_answers }} {% trans 'wrong' %}<br>
                                {{ sitting.unknown_answers }} {% trans 'unknown' %}<br>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: {{ sitting.right_answers_percentage }}%">
                                        <span class="sr-only">{{ sitting.right_answers_percentage }}% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: {{ sitting.unknown_answers_percentage }}%">
                                        <span class="sr-only">{{ sitting.unknown_answers_percentage }}% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: {{ sitting.wrong_answers_percentage }}%">
                                        <span class="sr-only">{{ sitting.wrong_answers_percentage }}% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if sitting.quiz.get_home_message %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="well well-sm">
                                        <strong>{% trans 'Get home message' %} : </strong>{{ sitting.quiz.get_home_message }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
