{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load guardian_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Delete' %} {{ object }} ?
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'lectures:session-list' %}">{% trans "Courses" %}</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Delete' %} {{ object }}</h1>
    </div>
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for object as 'object_perms' %}
    <br>
    <div class='container'>
        <div class='row'>
            {% if "delete_lecture" in object_perms %}
                <form action="" method="post">{% csrf_token %}
                    <p>{% trans "Are you sure you want to delete" %} "{{ object }}" ?</p>
                    <input class="btn btn-primary" type="submit" value="{% trans "Yes, I'm sure" %}" />
                    <a href="{% url 'lectures:lecture-detail' object.pk %}" class="btn btn-default" role="button"><span class="fa fa-cross"></span> {% trans 'No, take me back to the course' %}</a>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
