{% load i18n %}

<h3>
    {% trans 'Teachers' %} : 
    {% if "change_lecture" in object_perms %}
        <a class="btn btn-default btn-sm" href="{% url 'lectures:teacher-create' pk=object.pk %}"><span class="fa fa-user-plus"></span> {% trans 'Add a teacher' %}</a>
    {% endif %}
</h3>
<div class="well well-sm">
    {% for teacher in object.teachers.all %}
        <div class="row">
            <div class="col-sm-8">
                {{ teacher.first_name|title }} {{ teacher.last_name|title }} - 
                {% if teacher.profile.lab_name %}
                    {% if teacher.profile.lab_name_url %}
                        <a href={{ teacher.profile.lab_name_url }} target="_blank">{{ teacher.profile.lab_name|title }}</a>,
                    {% else %}
                        {{ teacher.profile.lab_name|title }}, 
                    {% endif %}
                {% endif %}
                {{ teacher.profile.city|title }}, {{ teacher.profile.country.name }}
            </div>
            <div class="col-sm-4">
                {% if teacher != request.user and "change_lecture" in object_perms %}
                    <a class="btn btn-danger btn-xs" href="{% url 'lectures:teacher-delete' lecture=object.pk pk=teacher.pk %}"><span class="fa fa-user-times"></span> {% trans "Remove this teacher" %}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
