{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}
{% load static %}

{% block head_title %}
    {% trans 'Add a teacher' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'lectures:session-list' %}">{% trans "Courses" %}</a></li>
    <li><a href="{% url 'lectures:lecture-detail' pk=lecture.pk %}">{{ lecture }}</a></li>
    <li class="active">{% trans 'Add a teacher' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Add a teacher' %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {{ form.media }}
        {% crispy form %}
    </div>
{% endblock %}

{% block js %}
    <script src='{% static 'lectures/js/bootstrap-multiselect.js' %}'></script>
    <link href='{% static 'lectures/css/bootstrap-multiselect.css' %}' rel='stylesheet' type='text/css'>
    <script src='{% static 'lectures/js/bootstrap-multiselect-teachers.js' %}'></script>
{% endblock %}
