{% load i18n %}

{% if "change_lecture" in object_perms %}
    <h3>
        {% trans 'Quizzes' %} : 
        {% if "change_lecture" in object_perms %}
            <a class="btn btn-default btn-sm" href="{% url 'lectures:quiz-attach' pk=object.pk %}"><span class="fa fa-plus"></span> {% trans 'Add a quiz' %}</a>
        {% endif %}
    </h3>
    <div class="well well-sm">
        {% for quiz in object.quizzes.all %}
            <div class="row">
                <div class="col-sm-8">
                    {{ quiz.title|capfirst }}
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-danger btn-xs" href="{% url 'lectures:quiz-detach' lecture=object.pk pk=quiz.pk %}"><span class="fa fa-times"></span> {% trans "Remove this quiz" %}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
