{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Courses' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Courses' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans "List of the courses you're organizing" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
        <div class="list-group">
            {% for lecture in object_list %}
                <a href="{% url 'lectures:lecture-detail' pk=lecture.pk %}" class="list-group-item">
                    <h5>
                        {{ lecture }}
                        <span class="label label-primary pull-right">{{ lecture.topic }}</span>
                    </h5>
                </a>
            {% empty %}
                <li class="list-group-item disabled">{% trans "You haven't organized any courses yet" %}</li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
