{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load guardian_tags %}
{% load url from future %}

{% block head_title %}
    {{ object }}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'lectures:session-list' %}">{% trans "Lectures" %}</a></li>
    <li class="active">{{ object }}</li>
{% endblock %}

{% block page_title %}
    {% get_obj_perms request.user for object as 'object_perms' %}
    <div class="container page-header">
        <h1>
            {{ object }}
            {% if "change_lecture" in object_perms %}
                <a href="{% url 'lectures:lecture-update' object.pk %}" class="btn btn-default btn-sm" role="button"><span class="fa fa-edit"></span> {% trans 'Edit' %}</a>
                <a href="{% url 'lectures:lecture-delete' object.pk %}" class="btn btn-danger btn-sm" role="button"><span class="fa fa-close"></span> {% trans 'Delete' %}</a>
            {% endif %}
        </h1>
    </div>
{% endblock %}

{% block content %}
    {% get_obj_perms request.user for object as 'object_perms' %}
    <div class='container'>
        <h3>{% trans 'Description' %} : </h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        {{ object.description|safe }}
                    </div>
                    <div class="col-sm-4">
                        <div class="well">
                            <p><strong>{% trans "Course" %} : </strong> {{ object.lectures }} {% trans 'hours' %}</p>
                            <p><strong>{% trans "Raw data analysis" %} : </strong> {{ object.data_analysis }} {% trans 'hours' %}</p>
                            <p><strong>{% trans "Bench practice" %} : </strong> {{ object.bench_practice }} {% trans 'hours' %}</p>
                            <p><strong>{% trans "Topic" %} : </strong> {{ object.topic }}</p>
                            <p><strong>{% trans "Level" %} : </strong> {{ object.get_level_display }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3>
            {% trans 'Sessions' %} : 
            {% if "change_lecture" in object_perms %}
                <a href="{% url 'lectures:session-create' object.pk %}" class="btn btn-default btn-sm" role="button"><span class="fa fa-plus"></span> {% trans 'Add a new session' %}</a>
            {% endif %}
        </h3>
        <ul class="list-group">
            {% for session in object.session_set.all %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <p><strong>{% trans "Start" %} : </strong>{{ session.start|date }} {{ session.start|time }}</p>
                            <p><strong>{% trans "End" %} : </strong>{{ session.end|date }} {{ session.end|time }}</p>
                            <p><strong>{% trans "Language" %} : </strong> {{ session.language }}</p>
                            {% if session.registration %}
                                <p><a href="{{ session.registration }}" target="_blank">{% trans "Registration link" %}</a></p>
                            {% endif %}
                            <p><strong>{% trans "Attendees" %} : </strong> {{ session.attendees.all.count }}</p>
                        </div>
                        <div class="col-sm-4">
                            <strong>{% trans "Location" %} : </strong>
                            {{ session.place|linebreaks }}
                        </div>
                        <div class="col-sm-4">
                            {% if "change_lecture" in object_perms %}
                                <p>
                                    <a class="btn btn-default btn-xs" href="{% url 'lectures:session-update' lecture=session.lecture.pk pk=session.pk %}">
                                        <span class="fa fa-edit"></span> {% trans 'Update' %}
                                    </a>
                                </p>
                                <p>
                                    <a class="btn btn-danger btn-xs" href="{% url 'lectures:session-delete' lecture=session.lecture.pk pk=session.pk %}">
                                        <span class="fa fa-close"></span> {% trans 'Delete' %}
                                    </a>
                                </p>
                            {% else %}
                                {% if not request.user.profile.fees_payed_for_current_year %}
                                    <p><button type="button" class="btn btn-primary" disabled="disabled">{% trans "In order to attend this lecture, you need to pay the membership fees" %}</button></p>
                                    <p>{% trans "To do so, " %}<a href={{ fees_link }}>please follow this link</a></p>
                                {% else %}
                                    {% if session.start.date > now.date %}
                                        {% if request.user not in session.attendees.all %}
                                            <p><a class="btn btn-primary" href="{% url 'lectures:attendee-create' lecture=session.lecture.pk pk=session.pk %}">{% trans "Attend this session" %}</a></p>
                                        {% endif %}
                                    {% else %}
                                        {% if request.user not in session.attendees.all %}
                                            <p><button type="button" class="btn btn-primary" disabled="disabled">{% trans "It is too late to attend this session" %}</button></p>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% if request.user in session.attendees.all %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                {% trans "Quizzes to pass before the lecture" %}
                            </div>
                            <ul class="list-group">
                                {% for quiz in pre_quiz_displayed %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                {{ quiz }}
                                            </div>
                                            <div class="col-sm-6">
                                                {% if now < session.start %}
                                                    <a href="{% url 'lectures:prequiz-take' lecture=object.pk session=session.pk pk=quiz.pk%}" class="btn btn-primary">{% trans "Take this quiz" %}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                {% empty %}
                                    <div class="list-group-item disabled">
                                        {% trans "You passed all necessary quizzes before the lecture" %}
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                {% trans "Quizzes to pass after the lecture" %}
                            </div>
                            {% if now > session.post_quiz_begin %}
                                <ul class="list-group">
                                    {% for quiz in lecture.quizzes.all %}
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    {{ quiz }}
                                                </div>
                                                <div class="col-sm-6">
                                                    {% if now < session.post_quiz_end and quiz not in post_quiz_taken %}
                                                        <a href="{% url 'lectures:postquiz-take' lecture=object.pk session=session.pk pk=quiz.pk %}" class="btn btn-primary">{% trans "Take this quiz" %}</a>
                                                    {% endif %}
                                                    {% if quiz in post_quiz_taken %}
                                                        <a href="{% url 'lectures:quiz-result' lecture=object.pk session=session.pk pk=quiz.pk %}" class="btn btn-success">{% trans "Results" %}</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="list-group-item disabled">
                                    {% trans "You'll need to wait 2 weeks after the end of the session to pass these quizzes" %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if "change_lecture" in object_perms and session.lecturesitting_set.count > 0 %}
                        <h4>{% trans "Results : " %}</h4>
                        <h6>
                            {% trans "Color code" %}
                            <span class="label label-success">{% trans "Right answers" %}</span>
                            <span class="label label-warning">{% trans "No answer" %}</span>
                            <span class="label label-danger">{% trans "Wrong answers" %}</span>
                        </h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>{% trans "Before the course" %}</strong><br/>
                                {% include 'lectures/teacher_results_page.html' with sittings=session.lecturesitting_set.introductory_attempt attendance=session.get_initial_attendance %}
                            </div>
                            <div class="col-sm-6">
                                <strong>{% trans "After the course" %}</strong><br/>
                                {% include 'lectures/teacher_results_page.html' with sittings=session.lecturesitting_set.final_attempt attendance=session.get_final_attendance %}
                            </div>
                        </div>
                        <h4>{% trans "Results Quiz by Quiz : " %}</h4>
                        {% for quiz in lecture.quizzes.all %}
                            <a href="{% url 'lectures:quiz-teacher-results' lecture=object.pk session=session.pk pk=quiz.pk %}" class="btn btn-default btn-xs">{{ quiz }}</a>
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if "change_lecture" in object_perms %}
            {% if object.session_set.all.count == 0 %}
                <div class="alert alert-warning" role="alert">
                    {% trans "There is no session planned for this course yet. Please create one" %}
                </div>
            {% endif %}
        {% endif %}
        {% include 'lectures/lecture_quizzes.html' %}
        {% include 'lectures/lecture_teachers.html' %}
    </div>
{% endblock %}
