{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load guardian_tags %}
{% load url from future %}

{% block head_title %}
    {{ object }} {% trans "results" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'lectures:session-list' %}">{% trans "Courses" %}</a></li>
    <li><a href="{% url 'lectures:lecture-detail' pk=lecture.pk %}">{{ lecture }}</a></li>
    <li class="active">{{ object }} {% trans "results" %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>
            {{ object }} {% trans "results" %}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <h2>{% trans "Overall results for the quiz" %} : </h2>
        <div class="row">
            <div class="col-sm-6">
                <strong>{% trans "Before the course" %}</strong><br/>
                {% include 'lectures/teacher_results_page.html' with sittings=sittings.introductory_attempt %}
            </div>
            <div class="col-sm-6">
                <strong>{% trans "After the course" %}</strong><br/>
                {% include 'lectures/teacher_results_page.html' with sittings=sittings.final_attempt %}
            </div>
        </div>
        <h2>{% trans "Results question by question" %} : </h2>
        {% for question, result_first_right, result_first_unknown, result_first_wrong, result_last_right, result_last_unknown, result_last_wrong in result %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ question }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>{% trans "Before the course" %}</strong><br/>
                            {% if sittings.introductory_attempt.count > 0 %}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: {{ result_first_right }}%">
                                        <span class="sr-only">{{ result_first_right }}% (right)</span>
                                        {{ result_first_right }}%
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: {{ result_first_unknown }}%">
                                        <span class="sr-only">{{ result_first_unknown }}% (unknwon)</span>
                                        {{ result_first_unknown }}%
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: {{ result_first_wrong }}%">
                                        <span class="sr-only">{{ result_first_wrong }}% (wrong)</span>
                                        {{ result_first_wrong }}%
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-6">
                            <strong>{% trans "After the course" %}</strong><br/>
                            {% if sittings.final_attempt.count > 0 %}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: {{ result_last_right }}%">
                                        <span class="sr-only">{{ result_last_right }}% (right)</span>
                                        {{ result_last_right }}%
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: {{ result_last_unknown }}%">
                                        <span class="sr-only">{{ result_last_unknown }}% (unknwon)</span>
                                        {{ result_last_unknown }}%
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: {{ result_last_wrong }}%">
                                        <span class="sr-only">{{ result_last_wrong }}% (wrong)</span>
                                        {{ result_last_wrong }}%
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
