{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load guardian_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Delete' %} {{ object }} ?
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'lectures:session-list' %}">{% trans "Courses" %}</a></li>
    <li><a href="{% url 'lectures:lecture-detail' pk=object.lecture.pk %}">{{ object.lecture }}</a></li>
    <li class="active">{% trans 'Delete Session' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Delete' %} {{ object }}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
        <div class='row'>
            <form action="" method="post">{% csrf_token %}
                <p>{% trans "Are you sure you want to delete the following session" %} ?</p>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><strong>{% trans "Start" %} : </strong>{{ object.start|date }}</p>
                        <p><strong>{% trans "End" %} : </strong>{{ object.end|date }}</p>
                        <p><strong>{% trans "Location" %} : </strong>{{ object.place|linebreaks }}</p>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="{% trans "Yes, I'm sure" %}" />
                <a href="{% url 'lectures:lecture-detail' object.lecture.pk %}" class="btn btn-default" role="button"><span class="fa fa-cross"></span> {% trans 'No, take me back to the course' %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
