{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}
{% load static %}

{% block head_title %}
    {% trans 'Attend this session' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'lectures:session-list' %}">{% trans "Courses" %}</a></li>
    <li><a href="{% url 'lectures:lecture-detail' pk=session.lecture.pk %}">{{ session.lecture }}</a></li>
    <li class="active">{% trans 'Attend this session' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Attend this session' %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {% if session.registration_link != "" %}
            <div class='alert alert-info' role="alert">
                <p>{% trans "Make sure to follow the registration link" %}</p>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p><strong>{% trans "Course" %} : </strong>{{ session.lecture }}</p>
                        <p><strong>{% trans "Start" %} : </strong>{{ session.start|date }} {{ session.start|time }}</p>
                        <p><strong>{% trans "End" %} : </strong>{{ session.end|date }} {{ session.end|time }}</p>
                        <p><strong>{% trans "Language" %} : </strong> {{ session.language }}</p>
                        {% if session.registration %}
                            <p><a href="{{ session.registration }}" target="_blank">{% trans "Registration link" %}</a></p>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        <strong>{% trans "Location" %} : </strong>
                        {{ session.place|linebreaks }}
                    </div>
                </div>
            </div>
        </div>
        {% crispy form %}
    </div>
{% endblock %}
