{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'Courses' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans 'Courses' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'List of courses' %}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
        <div class="list-group">
            {% regroup object_list by start|date:"F Y" as month_list %}
            {% for month in month_list %}
                <h2>{{ month.grouper }}</h2>
                {% for session in month.list %}
                    <a href="{% url 'lectures:lecture-detail' pk=session.lecture.pk %}" class="list-group-item">
                        <h5>
                            {{ session }}
                            <span class="label label-primary pull-right">{{ session.lecture.topic }}</span>
                        </h5>
                    </a>
                {% empty %}
                    <li class="list-group-item disabled">{% trans "There are no courses yet" %}</li>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
