{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block head_title %}
    {% trans 'Organize a session' %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'lectures:session-list' %}">{% trans "Courses" %}</a></li>
    <li><a href="{% url 'lectures:lecture-detail' pk=object.lecture.pk %}">{{ object.lecture }}</a></li>
    <li class="active">{% trans 'Edit the session' %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans 'Modify the session' %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        {{ form.media }}
        {% crispy form %}
    </div>
{% endblock %}
