{% load i18n %}

{% if sittings.count > 0 %}
    {% trans "Number of quizzes passed : " %}{{ sittings.count }}<br />
    {% trans "Attendance : " %}{{ attendance }} %
    <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: {{ sittings.overall_right_percentage }}%">
            <span class="sr-only">{{ sittings.overall_right_percentage }}% (right)</span>
            {{ sittings.overall_right_percentage }}%
        </div>
        <div class="progress-bar progress-bar-warning" style="width: {{ sittings.overall_unknown_percentage }}%">
            <span class="sr-only">{{ sittings.overall_unknown_percentage }}% (unknwon)</span>
            {{ sittings.overall_unknown_percentage }}%
        </div>
        <div class="progress-bar progress-bar-danger" style="width: {{ sittings.overall_wrong_percentage }}%">
            <span class="sr-only">{{ sittings.overall_wrong_percentage }}% (wrong)</span>
            {{ sittings.overall_wrong_percentage }}%
        </div>
    </div>
{% else %}
    {% trans "No results available right now" %}
{% endif %}
