{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Forbidden" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>{% trans "Forbidden."%}</h1>
            <p>{% trans "The action you tried to perform is forbidden. You don't have enough rights to do it" %}</p>
            <a class="btn btn-primary btn-lg" href="{% url 'profile' %}">{% trans 'Go back to my profile' %}</a>
        </div>
    </div>
{% endblock %}
