{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Page not found" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>{% trans "Page could not be found."%}</h1>
            <p>{% trans "We're sorry, but the requested page does not seem to exist." %}</p>
        </div>
    </div>
{% endblock %}
