{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Server Error" %}
{% endblock %}

{% block content %}
    <div class='container'>
        <div class="jumbotron">
            <h1>{% trans "Oops, something bad happened"%}</h1>
            <p>{% trans "But, don't worry : An email has been sent to the site administrator in order to fix the problem." %}</p>
        </div>
    </div>
{% endblock %}
