{% load raven %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block head_title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block extra_head %}
        {% endblock %}

        <!-- Bootstrap -->
        {% comment %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endcomment %}
        <link rel="stylesheet" href='{% static 'css/bootstrap.min.css' %}'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href='{% static 'css/default.css' %}' type='text/css'>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#navbar-collapse-top" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="escca-brand navbar-brand" href="{% url 'index' %}">
                        <img alt='{% trans 'escca logo' %}' src='{% static 'img/logo_escca.png' %}'>
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse-top">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Quiz" %} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'quiz:quiz-list' %}">{% trans 'Dashboard' %}</a></li>
                                <li><a href="{% url 'cytometry:field-list' %}">{% trans 'Browse by topic' %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'quiz:quiz-user-list' %}">{% trans 'Quiz Submission' %}</a></li>
                                <li><a href="{% url 'quiz:quiz-review-list' %}">{% trans 'Help reviewing quizzes' %}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Courses" %} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'lectures:session-list' %}">{% trans 'Courses' %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'lectures:lecture-create' %}">{% trans 'Organize a course' %}</a></li>
                                <li><a href="{% url 'lectures:lecture-list' %}">{% trans 'My courses' %}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Tutorings" %} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'tutorships:tutorship-list' %}">{% trans 'Tutorings' %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'tutorships:tutorship-create' %}">{% trans 'Request a tutoring' %}</a></li>
                                {% if perms.tutorships.change_tutorship %}
                                    <li class="divider"></li>
                                    <li><a href="{% url 'tutorships:tutorship-committee-list' %}">{% trans 'Scientific committee panel' %}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="{% url 'directory:index' %}">{% trans 'Directory' %}</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                        <p class="navbar-text navbar-right">{% trans 'Signed in as ' %}<a href="/accounts/profile/" class="navbar-link">{{ user.username }}</a></p>
                        <a class="btn btn-danger navbar-btn navbar-right" href="{% url 'account_logout' %}">{% trans 'Log out' %}</a>
                    {% else %}
                        <a class="btn btn-primary navbar-btn navbar-right" href="{% url 'account_login' %}">{% trans 'Log in' %}</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block body %}
            {% block breadcrumb %}{% endblock %}
            {% if messages %}
                <br>
                <div class="container">
                    {% for message in messages %}
                        <div class='alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable'>
                            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                            <strong>{{message}}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block page_title %}{% endblock %}
            {% block content %}{% endblock %}
        {% endblock %}

        {% block footer %}
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#navbar-collapse-bottom" data-toggle="collapse" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-collapse-bottom">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <li><a href="http://escca.eu" target="_blank">&copy; ESCCA 2014</a></li>
                                <li><a href="/pages/help/">{% trans "Help" %}</a></li>
                                <li><a href="/pages/about-us/">{% trans "About" %}</a></li>
                                <li><a href="{% url 'quiz:quiz-stats' %}">{% trans "Statistics" %}</a></li>
                                <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
                                {% if user.is_superuser %}
                                    <li><a href="{% url 'quiz:mail_to_users' %}">{% trans "Send a mail to all users" %}</a></li>
                                {% endif %}
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a target="_blank" href="http://www.openscop.fr" class="openscop-brand">
                                    {% trans "Made by " %}
                                    <img alt="openscop" src="{% static 'img/logo_openscop.png' %}">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <script src="//cdn.ravenjs.com/1.1.16/native/raven.min.js"></script>
        {% block js %}
        {% endblock %}
        <script>Raven.config('{% sentry_public_dsn %}').install();</script>
    </body>
</html>
