{% extends "base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block breadcrumb %}
    <br>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
            {% block breadcrumbs %}{% endblock %}
        </ol>
    </div>
{% endblock %}
