{% extends "base.html" %}

{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block head_title %}{% trans "TYsCCA" %}{% endblock %}

{% block content %}
    <div id="carousel-example-generic" class="carousel" data-ride="carousel">
        <div class="carousel-inner hidden-xs">
            <img alt="{% trans 'index background' %}" src="{% static 'img/index_background.jpg' %}">
            <div class="carousel-caption">
                <img alt="tyscca logo" src="{% static 'img/logo_tyscca_v2_wh.png' %}"><br>
                <h1>Test Yourself on Clinical Cell Analysis</h1>
            </div>
        </div>
        <div class="carousel-inner visible-xs">
            <img alt="{% trans 'index background' %}" src="{% static 'img/index_background_xs.jpg' %}">
            <div class="carousel-caption">
                <h1>Test Yourself on Clinical Cell Analysis</h1>
            </div>
        </div>
    </div>
    <div class="container homepage">
        <div class="row">
            <div class="col-sm-4">
                {% if user.is_authenticated %}
                    <a href="{% url 'quiz:quiz-list' %}" class="btn btn-block" role="button" data-toggle="tooltip" data-placement="top" title="{% trans "All quizzes that belong to the topics you're interested in are here!" %}">
                        <img alt="{% trans 'Dashboard' %}" src="{% static 'img/dashboard_ic.png' %}">
                        <h1 class="text-center">{% trans 'Dashboard' %}</h1>
                    </a>
                {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-block" role="button">
                        <h1 class="text-center"><span class="fa fa-sign-in"></span></h1>
                        <h1 class="text-center">{% trans 'Sign In' %}</h1>
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <a href="{% url 'cytometry:field-list' %}" class="btn btn-block" role="button" data-toggle="tooltip" data-placement="top" title="{% trans "Browse quizzes by topics" %}">
                    <img alt="{% trans 'Quizzes' %}" src="{% static 'img/quizzes_ic.png' %}">
                    <h1 class="text-center">{% trans 'Quizzes' %}<small>{% trans " / Fields" %}</small></h1>
                </a>
            </div>
            <div class="col-sm-4">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn btn-block" role="button" data-toggle="tooltip" data-placement="top" title="{% trans "Manage your Profile and check the results of the quizzes you passed" %}">
                        <img alt="{% trans 'Profile' %}" src="{% static 'img/profile_ic.png' %}">
                        <h1 class="text-center">{% trans 'Profile' %}</h1>
                    </a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-block" role="button">
                        <h1 class="text-center"><span class="fa fa-edit"></span></h1>
                        <h1 class="text-center">{% trans 'Sign Up' %}</h1>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if sponsors.count > 0 %}
        <div class="container-fixed sponsors">
            <div class="row">
                <h3 class="text-center">{% trans 'Our sponsors' %}</h3>
                {% for sponsor in sponsors %}
                    <div class="col-sm-{{ sponsor_columns }}">
                        <a href="{% url 'sponsors:sponsor-detail' pk=sponsor.pk %}">
                            <img src="{{ sponsor.logo.url }}" alt="{{ sponsor }}" class="img-responsive center-block" height="100px" width="100px"></img>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        });
    </script>
{% endblock %}
