{% load endless %}

{% get_pages %}

{% if pages.paginated %}
    <div class="container">
        <nav>
            <ul class="pagination">
                {% if pages.previous %}
                    <li>{{ pages.previous }}</li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for page in pages %}
                    {% if page.is_current %}
                        <li class="active">{{ page }}</li>
                    {% else %}
                        <li>{{ page }}</li>
                    {% endif %}
                {% endfor %}

                {% if pages.next %}
                    <li>{{ pages.next }}</li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}
