{% extends "easy_pdf/base.html" %}

{% load staticfiles %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 5.5cm;
            margin-right: 2.5cm;
            margin-top: 2.5cm;
            margin-bottom: 2cm;

            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1.3cm;
                margin-right: 2mm;
                margin-bottom: 1cm;
                margin-left: 1.2cm;
            }
        }
    </style>
{% endblock %}

{% block extra_style %}
    <style type="text/css">
        html {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }

        p {
            margin: 0 0 6px 0;
            font-size: 11pt;
            font-family: "Lato", "Helvetica", "sans-serif";
        }

        table {
            line-height: 140%;
            margin-bottom: 20px;
        }

        table.bordered {
            border-top: 0.1pt solid #999999;
            border-bottom: 0.1pt solid #999999;
        }

        tr, td, th { border: none; }

        th {
            font-size: 10pt;
            border-bottom: 0.1pt solid #999999;
            padding: 3px 0;
            line-height: 1;
            font-weight: bold;
        }

        td {
            font-size: 10pt;
            font-family: "Lato", "Helvetica", "sans-serif";
            vertical-align: top;
            padding: 3px 0;
        }

        td:last-child { padding-bottom: 0; }

        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }
        .bottom-100 { margin-bottom: 170px; }
        .background {

        }

        .header { color: #7f7f7f; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .header-link { font-weight: bold; text-decoration: none; color: #E90D71; font-size: 14px; }
        .logo {
            margin-bottom: 20px;
            margin-left: -25px;
        }
        .logo img { 
            zoom: 60%;
        }
        .logo2 { 
            padding-top: -25px;
            padding-left: 45px;
            margin-bottom: 20px;
            margin-left: -25px;
        }
        .logo2 img {
            zoom: 40%;
        }

        .recipient { margin-left: 7cm; }

        .main h1 {
            padding-top: 150px;
            margin: 18px 0 18px 0;
            font-size: 300%;
            font-weight: normal;
            color: #E90D71;
        }

        .main h2 {
            margin: 18px 0 6px 0;
            font-size: 180%;
            font-weight: normal;
        }

        .info { border: 1px solid #E90D71; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #E90D71; text-decoration: none; }

    </style>
{% endblock %}

{%block page_header%}
    <div id="page-header">
        <div class="header">
            <p class="logo"><img src="http://tyscca.eu/static/img/escca.jpg"></p>
            <p class="header-link">
                <a class="header-link" href="http://escca.eu">escca.eu</a>
            </p>
            <p class="header">Registered with the Chamber of Commerce</p>
            <p class="header">at Rotterdam (NL) under # 24 32 61 94</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="recipient bottom-10">
            <p class="logo2"><img src="http://tyscca.eu/static/img/logo_tyscca_v2.png"></p>
            <p class="header-link" style="padding-left:45px;padding-top:3px;">
                <a class="header-link" href="http://tyscca.eu">tyscca.eu</a>
            </p>
        </div>
        <div class="main">
            <h1>ESCCA Certificate</h1>
            {% comment %}
            <img src="static/img/escca_background.png" class="background">
            {% endcomment %}

            <p class="info">
                Competences and continuous Education.<br>
                Contribution to development and Education in Cell Analysis
            </p>

            <h2>
                {{ user.first_name|title }} {{ user.last_name|title }}
                {% if user.profile.lab_name %}
                    {% if user.profile.lab_name_url %}
                        - <a href="{{ user.profile.lab_name_url }}">{{ user.profile.lab_name }}</a>
                    {% else %}
                        - {{ user.profile.lab_name }}
                    {% endif %}
                {% endif %}
            </h2>
            <small>TySCCA ID : {{ user.profile.get_tyscca_id }}</small>
            <p></p>


            <table class="bordered bottom-100">
                <tr>
                    <td class="item-name"><strong>ESCCA points acquired for quiz results</strong></td>
                    <td><strong>{{ user.sitting_set.only_best_scores.overall_score }}</strong></td>
                </tr>
                <tr>
                    <td class="item-name"><strong>ESCCA points acquired for collaboration</strong></td>
                    <td><strong>{{ user.profile.get_collaboration_points }}</strong></td>
                </tr>
            </table>

            <p>Saint-Étienne, on {{ today|date:"F jS Y" }}</p>
            <p>Claude Lambert</p>
            <p class="bottom-20">
                <img src="http://tyscca.eu/static/img/claude_lambert_signature.jpg" height="49" width="100">
            </p>
            <p>TySCCA Coordinator</p>
        </div>
    </div>
{% endblock %}

