{% extends "account/base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans "Profile" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans "Profile" %}</li>
{% endblock %}

{% block content %}
    <br>
    <div class='container'>
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{% trans "Overall results" %}</h2>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {% if user.sitting_set.exists %}
                                <div class="row">
                                    <div class="container">
                                        <h3>{% trans "Points awarded for collaboration" %}</h3>
                                    </div>
                                    <div class="col-sm-4">
                                        <h1><span class="label label-primary">{{ user.profile.get_collaboration_points }}</span></h1><br>
                                    </div>
                                    <div class="col-sm-4">
                                        <strong>{% trans 'Quiz submitted' %} : </strong>{{ user.profile.get_author_points }} {% trans "points" %}<br>
                                        <strong>{% trans 'Quiz reviewed' %} : </strong>{{ user.profile.get_reviewer_points }} {% trans "points" %}<br>
                                        <strong>{% trans 'Courses organized' %} : </strong>{{ user.profile.get_courses_points }} {% trans "points" %}<br>
                                        <strong>{% trans 'Tutorings supervised' %} : </strong>{{ user.profile.get_tutorships_points }} {% trans "points" %}<br>
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="container">
                                        <h3>{% trans "Points awarded for quiz results" %}</h3>
                                    </div>
                                    {% with best_sittings=user.sitting_set.only_best_scores %}
                                        <div class="col-sm-4">
                                            <h1><span class="label label-primary">{{ best_sittings.overall_score }}</span></h1><br>
                                        </div>
                                        <div class="col-sm-4">
                                            <strong>{% trans 'Right answers' %} : </strong>{{ best_sittings.overall_right }}<br>
                                            <strong>{% trans 'Wrong answers' %} : </strong>{{ best_sittings.overall_wrong }}<br>
                                            <strong>{% trans 'Unknown answers' %} : </strong>{{ best_sittings.overall_unknown }}<br>
                                            <strong>{% trans 'Total answers' %} : </strong>{{ best_sittings.overall_questions }}<br>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" style="width: {{ best_sittings.overall_right_percentage }}%">
                                                    <span class="sr-only">{{ best_sittings.overall_right_percentage }}% Complete (success)</span>
                                                </div>
                                                <div class="progress-bar progress-bar-warning" style="width: {{ best_sittings.overall_unknown_percentage }}%">
                                                    <span class="sr-only">{{ best_sittings.overall_unknown_percentage }}% Complete (warning)</span>
                                                </div>
                                                <div class="progress-bar progress-bar-danger" style="width: {{ best_sittings.overall_wrong_percentage }}%">
                                                    <span class="sr-only">{{ best_sittings.overall_wrong_percentage }}% Complete (danger)</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endwith %}
                                </div>
                            {% else %}
                                {% trans "You haven't pass any Quiz yet." %}
                            {% endif %}
                        </li>
                    </ul>
                </div>
                {% if user.sitting_set.exists %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>{% trans "Results topic by topic" %}</h2>
                        </div>
                        <ul class="list-group">
                            {% for topic in object_list %}
                                <a href="{% url "topic_results" topic.pk %}" class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h4><span class="label label-primary">{{ topic.score }}</span> {{ topic }}</h4>
                                        </div>
                                        <div class="col-sm-4">
                                            {{ topic.right }} {% trans 'right' %}<br>
                                            {{ topic.wrong }} {% trans 'wrong' %}<br>
                                            {{ topic.unknown }} {% trans 'unknown' %}<br>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" style="width: {{ topic.right_percentage }}%">
                                                    <span class="sr-only">{{ topic.right_percentage }}% Complete (success)</span>
                                                </div>
                                                <div class="progress-bar progress-bar-warning" style="width: {{ topic.unknown_percentage }}%">
                                                    <span class="sr-only">{{ topic.unknown_percentage }}% Complete (warning)</span>
                                                </div>
                                                <div class="progress-bar progress-bar-danger" style="width: {{ topic.wrong_percentage }}%">
                                                    <span class="sr-only">{{ topic.wrong_percentage }}% Complete (danger)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <a href="{% url 'ppp' %}" class="btn btn-primary btn-lg" role="button">{% trans "print my Personal Professional Record" %}</a>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{% trans "My Profile" %}</h2>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ user.first_name|title }} {{ user.last_name|title }}<br>
                            {% if user.profile.lab_name %}
                                {% if user.profile.lab_name_url %}
                                    <a href={{ user.profile.lab_name_url }}>{{ user.profile.lab_name|title }}</a>,
                                {% else %}
                                    {{ user.profile.lab_name|title }}, 
                                {% endif %}
                            {% endif %}
                            {{ user.profile.city|title }}, {{ user.profile.country.name }}<br>
                            {{ user.email }}<br>
                            <a href="{% url 'profile_edit'  %}">{% trans "Update my profile" %}</a>
                        </li>
                        <li class="list-group-item">
                            <strong>{% trans "Topics of interest" %} : </strong><br>
                            {% if user.profile.topics_of_interest.all.exists %}
                                {% for topic in user.profile.topics_of_interest.all %}
                                    {{ topic }}<br>
                                {% endfor %}
                            {% else %}
                                {% trans "You havent chose any topics of interest yet." %}<br>
                                {% trans "Please, follow the link to choose some" %}<br>
                            {% endif %}
                            <a href="{% url 'topics_edit' %}">{% trans "Manage my topics of interest" %}</a>
                        </li>
                        <li class="list-group-item"><a href="{% url 'account_email' %}">{% trans "Change my email address" %}</a></li>
                        <li class="list-group-item"><a href="{% url 'account_change_password' %}">{% trans "Change my password" %}</a></li>
                        {% if not user.profile.fees_payed_for_current_year %}
                            <li class="list-group-item list-group-item-warning">
                                <strong>{% trans "Membership fees" %} : </strong><br>
                                {% trans "You haven't payed your membership fees for the current year." %} 
                                {% trans "In order to get full access to this site, " %}
                                <a href="http://escca.eu/join">{% trans "please, follow this link" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
