{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'TySCCA sponsors' %}
{% endblock %}

{% block breadcrumbs %}
    <li>{% trans "Sponsors" %}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{% trans "Sponsors" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% for object in object_list %}
            <div class="col-sm-3">
                <a href="{% url 'sponsors:sponsor-detail' pk=object.pk %}" class="thumbnail">
                    <img src="{{ object.logo.url }}" alt="{{ object }}_logo" class="img-responsive img-rounded">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
