{% extends "base_breadcrumbs.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}
    {% trans 'TySCCA sponsors' %}
{% endblock %}

{% block breadcrumbs %}
    <li class="active"><a href="{% url 'sponsors:sponsor-list' %}">{% trans "Sponsors" %}</a></li>
    <li>{{ object|capfirst }}</li>
{% endblock %}

{% block page_title %}
    <div class="container page-header">
        <h1>{{ object|capfirst }}</h1>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="{{ object.logo.url }}" alt="{{ object }}_logo" class="img-rounded img-responsive media-object">
                {% comment %}
                <img src="{{ object.logo.url }}" alt="{{ object }}_logo" class="img-rounded img-responsive media-object" width="250px" height="250px">
                {% endcomment %}
            </div>
            <div class="col-sm-9">
                <p>{{ object.description|linebreaks }}</p>
                <p><a href="{{ object.url }}" target="_blank" class="btn btn-primary" role="button">{% trans "Visit website" %}</a></p>
            </div>
        </div>
    </div>
{% endblock %}
