{% extends "base_breadcrumbs.html" %}

{% url from future %}
{% load i18n %}

{% block head_title %}
    {{ flatpage.title }}
{% endblock %}

{% block page_title %}
    <div class='container page-header'>
        <h1>{{ flatpage.title }}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {{ flatpage.content }}
    </div>
{% endblock %}
